.logo {
  @include verticalCenter;
  margin: 5px auto;
  width: 200px;
  border-radius: 20px;
  padding: 5px 0;
  border: none;
  background: url(../../assets/img/main.jpg) center/cover;

  img {
    height: 40px;
  }

  h3 {
    margin-left: 10px;
    color: $color-1;
  }
}

.logo:hover {
  cursor: pointer;
}