.bloc {
    margin: 20px;
    text-align: justify;
}

.bloc h1 {
    padding-left: 40px;
}

.bloc p {
    padding: 10px
}

.bloc p::first-letter {
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}