.pageHome {
    width: 95%;
    margin: 10px auto;

    .next3show .textShow {
        width: 98%;
        justify-content: left;
        // text-align: left;
    }

    .next3show ul {
        text-align: left;
    }

    .next3show h1 {
        font-size: 24px;
        ;
    }
}

.presentation {
    width: 996px;
    // background-color: antiquewhite;
    display: flex;
    margin: 30px auto;
    // margin: none;

    @media (min-width: 300px) and (max-width: 995px) {
        text-align: center;
        // margin: 0;
    }
}

.photopresentation {
    border-radius: 3px;
    // float: left;
    height: 280px;
    width: 50%;
    background-image: url('../../assets/img/teleboobies.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    // background-color: aqua;

    @media (min-width: 300px) and (max-width: 995px) {
        display: block;
        width: 100%;
        height: 240px;
    }
}

.textpresentation {
    // float: right;
    margin: auto;
    align-items: center;
    vertical-align: middle;
    // background-color: grey;
    width: 50%;
    height: 280px;

    @media (min-width: 300px) and (max-width: 995px) {
        float: none;
        width: 90%;
        padding: 0 5%;
    }


    p {
        text-align: justify;
        // background-color: white;
        margin: 26px 5px;

        &::first-letter {
            margin-left: 30px;
            font-size: 20px;
        }
    }
}

.video {
    margin: auto;
}