@import "./settings";
@import "./components/navigation";
@import "./components/lecteur";
@import "./components/footer";
@import "./pages/home";
@import "./pages/contact";
@import "./pages/dates";
@import "./pages/medias";




.root {
    text-align: center;
}

.conteneur {
    background-color: rgba($color-4, 0.3);
    backdrop-filter: blur(3px);
    margin: auto;
    // width: 996px;

    width: 1280px;
}

@media (min-width: 300px) and (max-width: 995px) {
    .conteneur {
        width: 98%;
        backdrop-filter: blur(1px);
    }
}